In [1]:
import pandas as pd
from datetime import date
from random import randint

from init import item_codes, warehouse_codes, start_date

In [2]:
number_of_days_history = 10

dates = []
for i in range(number_of_days_history):
    dates.append(start_date - pd.DateOffset(days=i+1))

# print(item_codes)
# print(warehouse_codes)
# print(dates)

In [3]:
dataset = []

for i in range(len(dates)):
    for j in range(len(warehouse_codes)):
        for k in range(len(item_codes)):
            dataset.append([dates[i],warehouse_codes[j],item_codes[k],randint(1,100)*100])

df = pd.DataFrame(dataset,columns=["Date","Warehouse_Code","Item_Code","Stock_Amount"])
df["Date"] = pd.to_datetime(df["Date"])
df

          Date Warehouse_Code Item_Code  Stock_Amount
0   2024-12-31          WH001   Item001          5800
1   2024-12-31          WH001   Item002          2900
2   2024-12-31          WH001   Item003          2400
3   2024-12-31          WH001   Item004          4400
4   2024-12-31          WH001   Item005          1600
..         ...            ...       ...           ...
595 2024-12-22          WH004   Item011          6300
596 2024-12-22          WH004   Item012          9300
597 2024-12-22          WH004   Item013          4600
598 2024-12-22          WH004   Item014          4900
599 2024-12-22          WH004   Item015          4700

[600 rows x 4 columns]

In [4]:
import os

# Ensure the target directory exists before saving the file
os.makedirs("../Datasets", exist_ok=True)

# Save DataFrame as CSV into existing directory
df.to_csv("../Datasets/Available_Stock.csv", index=False)